.hero {
  background: var(--accent-background-color);
  color: var(--text-color);
  text-align: center;
}

.hero.conttainer {
  height: 600px;
}

.btn {
  padding: 10px 32px;
  margin-top: 30px;
  margin-bottom: 200px;
  border-radius: 4px;
  background: var(--button-color);
  color: var(--text-color);
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.ot {
  background: var(--background-color);
}
